# more sample about implement fro advanced landing from multi data-source

## import library

In [1]:
import dask.dataframe as dd
import pandas as pd
from data_lib import landing_dsm as dsm

## declear data-source

In [2]:
# Database connection parameters
db_params = [{
    'appliction':'app01',
    'source':'db1',
    'dbname': 'chinook',
    'user': 'admin',
    'password': '1234',
    'host': '192.168.28.40',
    'port': '5432'
    },
    {
    'appliction':'app01',
    'source':'db2',
    'dbname': 'northwind',
    'user': 'admin',
    'password': '1234',
    'host': '192.168.28.40',
    'port': '5432'
    }
]

## list table from data-source and landing some table

In [3]:
tables = []
for db in db_params:
    
    db_name = db["dbname"]
    table = dsm.list_table(db_params=db)
    
    print(f"database {db_name} has table : {len(table)} table")
    
    dsm.landing_func(db,table[3:6])

database chinook has table : 11 table
done
database northwind has table : 14 table
done

In [4]:
dataPath = "/landing_zone/app01/db2/northwind/territories.parquet"

In [5]:
ddf = dsm.get_parquet(dataPath)
ddf.head()

  territory_id territory_description  region_id
0        01581              Westboro          1
1        01730               Bedford          1
2        01833             Georgetow          1
3        02116                Boston          1
4        02139             Cambridge          1