# Test case for validate data with Monad

## import library

In [1]:
import pandas as pd
from data_lib import Monad as mo

## Prepare data that you want to validate and master data for checking

In [2]:
df = pd.read_parquet("dataset/trade_view_registration_case_for_prince.parquet")
# df["countryName"].unique()
df.head()

    countryName               city
0         INDIA  MAHARASTRA STAYTE
1       ARMENIA                  d
2  BURKINA FASO           Banfora
3   PHILIPPINES   Sta.Rosa, Laguna
4         CHINA       Wuxi/jiangsu

In [3]:
master = pd.read_parquet("https://github.com/storemesh/masterdata/raw/django-app/master-area_20230810.parquet")
master.head()

,global_code,global_name,region_code,region_name,sub_region_code,sub_region_name,intermediate_region_code,intermediate_region_name,country_or_area,m49_code,iso_alpha2_code,iso_alpha3_code,year,id
0,001,World,142,Asia,034,Southern Asia,000,,Afghanistan,004,AF,AFG,2023,2023AFG
1,001,World,150,Europe,039,Southern Europe,000,,Albania,008,AL,ALB,2023,2023ALB
2,001,World,000,,000,,000,,Antarctica,010,AQ,ATA,2023,2023ATA
3,001,World,002,Africa,015,Northern Africa,000,,Algeria,012,DZ,DZA,2023,2023DZA
4,001,World,009,Oceania,061,Polynesia,000,,American Samoa,016,AS,ASM,2023,2023ASM

In [4]:
master.dropna(subset='iso_alpha2_code',inplace=True)
master_dict = master[["country_or_area","iso_alpha2_code"]].to_dict("records")
master_dict = {elm.get("country_or_area").lower():elm.get("iso_alpha2_code") for elm in master_dict}
print(f"The master data has : {len(master_dict)} records")

The master data has : 248 records

## Check column name 'countryName' in df dataframe

In [5]:
df_result = mo.check_countryName(df,'countryName')
df_result_explode = mo.explode_result(df_result,'countryName')
df_fail = mo.get_dirty(df_result_explode)

In [6]:
test = df_fail.groupby("input").size().sort_values(ascending=False)
er_df = pd.DataFrame([test.index,test.values],["country","error_count"]).T
er_df.head()

              country error_count
0  GUINEA  ( GUINEE )         302
1              BRUNEI         182
2      CZECH REPUBLIC         158
3            TANZANIA         122
4             REUNION         100

In [7]:
# place for experiments

## Note

In [8]:
# df_result = mo.check_countryName(df,'countryName')
# df_result

In [9]:
# df_result_explode = mo.explode_result(df_result,'countryName')
# df_result_explode

In [10]:
# df_fail = mo.get_dirty(df_result_explode)
# df_fail