In [9]:
import s3fs
import dask.dataframe as dd

In [10]:
bucket = s3fs.S3FileSystem(
    endpoint_url="https://storage.googleapis.com", 
    key="GOOGQWNEOC2CQBAQL256MLSL", 
    secret="KcUvYY32vLy/qj5GVdQkINY7831N01dJp7zaJSSw",
    anon=False,
    use_listings_cache=False,
    default_fill_cache=False,
)
bucket

In [11]:
bucket.listdir('backup-data-titan/masterdata')

[{'Key': 'backup-data-titan/masterdata/country_nationality_list',
  'Size': 0,
  'StorageClass': 'DIRECTORY',
  'type': 'directory',
  'size': 0,
  'name': 'backup-data-titan/masterdata/country_nationality_list'},
 {'Key': 'backup-data-titan/masterdata/dbd',
  'Size': 0,
  'StorageClass': 'DIRECTORY',
  'type': 'directory',
  'size': 0,
  'name': 'backup-data-titan/masterdata/dbd'},
 {'Key': 'backup-data-titan/masterdata/hs_code',
  'Size': 0,
  'StorageClass': 'DIRECTORY',
  'type': 'directory',
  'size': 0,
  'name': 'backup-data-titan/masterdata/hs_code'}]

In [14]:
ddf = dd.read_parquet('backup-data-titan/masterdata/country_nationality_list/**/*.parquet', filesystem=bucket)
#ddf2 = ddf[["tax_no","province","address","list_committee","register_date"]]
ddf

Dask DataFrame Structure:
              num_code alpha_2_code alpha_3_code en_short_name nationality
npartitions=1
                string       string       string        string      string
                   ...          ...          ...           ...         ...
Dask Name: read-parquet, 1 graph layer

In [7]:
df = ddf2.compute()
df

,tax_no,province,address,list_committee,register_date
0,0845565014266,สุราษฎร์ธานี,151/10 หมู่ที่ 1 ตำบล เกาะพะงัน อำเภอ เกาะพะง...,<NA>,2022-10-18
1,0335561000117,ศรีสะเกษ,1502/15 ถนนขุขันธ์ ตำบล เมืองใต้ อำเภอ เมืองศ...,<NA>,2018-03-08
2,0335561000257,ศรีสะเกษ,728 หมู่บ้าน ราษฎร์พัฒนา หมู่ที่ 5 ถนนสินประด...,<NA>,2018-04-23
3,0335561000249,ศรีสะเกษ,375 หมู่บ้าน หนองกิโล หมู่ที่ 2 ตำบล หนองครก ...,<NA>,2018-04-18
4,0335561000231,ศรีสะเกษ,81 หมู่ที่ 2 ตำบล ห้วยสำราญ อำเภอ ขุขันธ์ จัง...,<NA>,2018-04-10
...,...,...,...,...,...
971127,0125552017047,นนทบุรี,สำนักงานใหญ่ บ้านเลขที่ 111/25 หมู่ที่ 2 ซอย ...,<NA>,2009-12-04
971128,0105559008311,กรุงเทพมหานคร,สำนักงานใหญ่ อาคาร จัตุรัสจามจุรี ห้องTT08 ชั...,<NA>,2016-01-15
971129,0105563094790,กรุงเทพมหานคร,สำนักงานใหญ่ บ้านเลขที่ 214 ซอย ซอยผาสุก ตำบล...,<NA>,2020-06-29
971130,0903557002421,สงขลา,สำนักงานใหญ่ บ้านเลขที่ 36/13 หมู่ที่ 4 ตำบล ...,<NA>,2014-09-22
971131,0415559003031,อุดรธานี,สำนักงานใหญ่ บ้านเลขที่ 25 หมู่ที่ 10 ตำบล บ้...,<NA>,2016-12-14

In [8]:
df.to_parquet("test_case.parquet")