In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("test_case.parquet")

In [5]:
df.head()

,tax_no,province,address,list_committee,register_date
0,0845565014266,สุราษฎร์ธานี,151/10 หมู่ที่ 1 ตำบล เกาะพะงัน อำเภอ เกาะพะง...,<NA>,2022-10-18
1,0335561000117,ศรีสะเกษ,1502/15 ถนนขุขันธ์ ตำบล เมืองใต้ อำเภอ เมืองศ...,<NA>,2018-03-08
2,0335561000257,ศรีสะเกษ,728 หมู่บ้าน ราษฎร์พัฒนา หมู่ที่ 5 ถนนสินประด...,<NA>,2018-04-23
3,0335561000249,ศรีสะเกษ,375 หมู่บ้าน หนองกิโล หมู่ที่ 2 ตำบล หนองครก ...,<NA>,2018-04-18
4,0335561000231,ศรีสะเกษ,81 หมู่ที่ 2 ตำบล ห้วยสำราญ อำเภอ ขุขันธ์ จัง...,<NA>,2018-04-10

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 971132 entries, 0 to 971131
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tax_no           971132 non-null  string
 1   province         971000 non-null  string
 2   address          886737 non-null  string
 3   list_committee   23280 non-null   string
 4   register_date    970200 non-null  datetime64[ns]
 5   province_result  971132 non-null  object
dtypes: datetime64[ns](1), object(1), string(4)
memory usage: 51.9+ MB

In [9]:
master_province_df = pd.read_json("https://raw.githubusercontent.com/storemesh/masterdata/django-app/master_area_th.json")
master_province_df

,AD_LEVEL,TA_ID,TAMBON_T,TAMBON_E,AM_ID,AMPHOE_T,AMPHOE_E,CH_ID,CHANGWAT_T,CHANGWAT_E,LAT,LONG
0,4,910106,ต. เกาะสาหร่าย,Ko Sarai,9101,None,Mueang Satun,91,จ. สตูล,Satun,6.546,99.706
1,4,210114,ต. มาบตาพุด,Maptaphut,2101,อ. เมืองระยอง,Mueang Rayong,21,จ. ระยอง,Rayong,12.646,101.171
2,4,210114,ต. มาบตาพุด,Maptaphut,2101,อ. เมืองระยอง,Mueang Rayong,21,จ. ระยอง,Rayong,12.645,101.170
3,4,210114,ต. มาบตาพุด,Maptaphut,2101,อ. เมืองระยอง,Mueang Rayong,21,จ. ระยอง,Rayong,12.649,101.174
4,4,210114,ต. มาบตาพุด,Maptaphut,2101,อ. เมืองระยอง,Mueang Rayong,21,จ. ระยอง,Rayong,12.644,101.169
...,...,...,...,...,...,...,...,...,...,...,...,...
7763,4,710803,ต. ไล่โว่,Lai Wo,7108,อ. สังขละบุรี,Sangkhla Buri,71,จ. กาญจนบุรี,Kanchanaburi,15.345,98.664
7764,4,710705,ต. ชะแล,Chalae,7107,อ. ทองผาภูมิ,Thong Pha Phum,71,จ. กาญจนบุรี,Kanchanaburi,14.996,98.833
7765,4,610607,ต. แก่นมะกรูด,Kaen Makrut,6106,อ. บ้านไร่,Ban Rai,61,จ. อุทัยธานี,Uthai Thani,15.292,99.168
7766,4,630805,ต. แม่ละมุ้ง,Mae Lamung,6308,อ. อุ้มผาง,Um Phang,63,จ. ตาก,Tak,15.641,98.966
7767,4,630305,ต. บ้านนา,Ban Na,6303,อ. สามเงา,Sam Ngao,63,จ. ตาก,Tak,17.333,98.864

In [17]:
province_set = {elm.replace("จ. ",'') for elm in master_province_df["CHANGWAT_T"].unique()}
len(province_set)

77

In [3]:
class Monad:
    def __init__(self, value):
        self.value = value
        self.status = 'dirty'  # Starting with 'dirty'
        self.message = []
        self.dtype = object
    def __or__(self, func):
        if self.status == 'dirty': # Only process if 'dirty'
            try:
                x = func(self.value)
                self.value = x
                self.status = 'passed'
                self.message.append(f'Passed:{func.__name__}()')
                return self 
            except Exception as e:
                self.message.append(f'Failed:{func.__name__}():{str(e)}')
        return self

    def __repr__(self):
        return f'{self.status}({self.value}){self.message}'

    def __str__(self):
        return self.__repr__()

In [26]:
def country_code(x):
    valid_countries = ['TH', 'US', 'UK']
    if x not in valid_countries:
        raise Exception("Invalid code")
    else:
        return x
        
def country_name(x):
    valid_countries ={'Thailand':'TH','United State':'USA', 'United Kingdom':'UK'}
    return valid_countries[x]

def country_name_thai(x):
    valid_countries ={'ไทย':'TH','สหรัฐอเมริกา':'USA', 'อังกฤษ':'UK'}
    return valid_countries[x]

def province_name(x):
    valid_province = province_set
    if x not in valid_province:
        raise Exception("Invalid code")
    else:
        return x

def clean_datetime(x):
    return pd.to_datetime(x,errors="raise")

In [27]:
df['register_date_result'] = df['register_date'].apply(lambda x: Monad(x)|clean_datetime )
df

,tax_no,province,address,list_committee,register_date,province_result,register_date_result
0,0845565014266,สุราษฎร์ธานี,151/10 หมู่ที่ 1 ตำบล เกาะพะงัน อำเภอ เกาะพะง...,<NA>,2022-10-18,passed(สุราษฎร์ธานี)['Passed:province_name()'],passed(2022-10-18 00:00:00)['Passed:clean_date...
1,0335561000117,ศรีสะเกษ,1502/15 ถนนขุขันธ์ ตำบล เมืองใต้ อำเภอ เมืองศ...,<NA>,2018-03-08,passed(ศรีสะเกษ)['Passed:province_name()'],passed(2018-03-08 00:00:00)['Passed:clean_date...
2,0335561000257,ศรีสะเกษ,728 หมู่บ้าน ราษฎร์พัฒนา หมู่ที่ 5 ถนนสินประด...,<NA>,2018-04-23,passed(ศรีสะเกษ)['Passed:province_name()'],passed(2018-04-23 00:00:00)['Passed:clean_date...
3,0335561000249,ศรีสะเกษ,375 หมู่บ้าน หนองกิโล หมู่ที่ 2 ตำบล หนองครก ...,<NA>,2018-04-18,passed(ศรีสะเกษ)['Passed:province_name()'],passed(2018-04-18 00:00:00)['Passed:clean_date...
4,0335561000231,ศรีสะเกษ,81 หมู่ที่ 2 ตำบล ห้วยสำราญ อำเภอ ขุขันธ์ จัง...,<NA>,2018-04-10,passed(ศรีสะเกษ)['Passed:province_name()'],passed(2018-04-10 00:00:00)['Passed:clean_date...
...,...,...,...,...,...,...,...
971127,0125552017047,นนทบุรี,สำนักงานใหญ่ บ้านเลขที่ 111/25 หมู่ที่ 2 ซอย ...,<NA>,2009-12-04,passed(นนทบุรี)['Passed:province_name()'],passed(2009-12-04 00:00:00)['Passed:clean_date...
971128,0105559008311,กรุงเทพมหานคร,สำนักงานใหญ่ อาคาร จัตุรัสจามจุรี ห้องTT08 ชั...,<NA>,2016-01-15,passed(กรุงเทพมหานคร)['Passed:province_name()'],passed(2016-01-15 00:00:00)['Passed:clean_date...
971129,0105563094790,กรุงเทพมหานคร,สำนักงานใหญ่ บ้านเลขที่ 214 ซอย ซอยผาสุก ตำบล...,<NA>,2020-06-29,passed(กรุงเทพมหานคร)['Passed:province_name()'],passed(2020-06-29 00:00:00)['Passed:clean_date...
971130,0903557002421,สงขลา,สำนักงานใหญ่ บ้านเลขที่ 36/13 หมู่ที่ 4 ตำบล ...,<NA>,2014-09-22,passed(สงขลา)['Passed:province_name()'],passed(2014-09-22 00:00:00)['Passed:clean_date...
971131,0415559003031,อุดรธานี,สำนักงานใหญ่ บ้านเลขที่ 25 หมู่ที่ 10 ตำบล บ้...,<NA>,2016-12-14,passed(อุดรธานี)['Passed:province_name()'],passed(2016-12-14 00:00:00)['Passed:clean_date...

In [29]:
column_name_regis = "register_date"
df_result=pd.DataFrame({
    'input':df[column_name_regis],
    'value':df[column_name_regis+'_result'].apply(lambda x: x.value),
    # 'status':df['result'].apply(lambda x: x.status),
    'message':df[column_name_regis+'_result'].apply(lambda x: x.message),
    
})
df_result['column']=column_name_regis
df_result.explode('message').reset_index(names=['row'])
df_result

            input      value                    message         column
0      2022-10-18 2022-10-18  [Passed:clean_datetime()]  register_date
1      2018-03-08 2018-03-08  [Passed:clean_datetime()]  register_date
2      2018-04-23 2018-04-23  [Passed:clean_datetime()]  register_date
3      2018-04-18 2018-04-18  [Passed:clean_datetime()]  register_date
4      2018-04-10 2018-04-10  [Passed:clean_datetime()]  register_date
...           ...        ...                        ...            ...
971127 2009-12-04 2009-12-04  [Passed:clean_datetime()]  register_date
971128 2016-01-15 2016-01-15  [Passed:clean_datetime()]  register_date
971129 2020-06-29 2020-06-29  [Passed:clean_datetime()]  register_date
971130 2014-09-22 2014-09-22  [Passed:clean_datetime()]  register_date
971131 2016-12-14 2016-12-14  [Passed:clean_datetime()]  register_date

[971132 rows x 4 columns]

In [31]:
df_result.astype(str).groupby("message").count()

                              input   value  column
message
['Passed:clean_datetime()']  971132  971132  971132

In [ ]:
df_result.explode('message').reset_index(names=['row'])

In [20]:
df['province_result']=df['province'].apply(lambda x: Monad(x)|province_name )
df

,tax_no,province,address,list_committee,register_date,province_result
0,0845565014266,สุราษฎร์ธานี,151/10 หมู่ที่ 1 ตำบล เกาะพะงัน อำเภอ เกาะพะง...,<NA>,2022-10-18,passed(สุราษฎร์ธานี)['Passed:province_name()']
1,0335561000117,ศรีสะเกษ,1502/15 ถนนขุขันธ์ ตำบล เมืองใต้ อำเภอ เมืองศ...,<NA>,2018-03-08,passed(ศรีสะเกษ)['Passed:province_name()']
2,0335561000257,ศรีสะเกษ,728 หมู่บ้าน ราษฎร์พัฒนา หมู่ที่ 5 ถนนสินประด...,<NA>,2018-04-23,passed(ศรีสะเกษ)['Passed:province_name()']
3,0335561000249,ศรีสะเกษ,375 หมู่บ้าน หนองกิโล หมู่ที่ 2 ตำบล หนองครก ...,<NA>,2018-04-18,passed(ศรีสะเกษ)['Passed:province_name()']
4,0335561000231,ศรีสะเกษ,81 หมู่ที่ 2 ตำบล ห้วยสำราญ อำเภอ ขุขันธ์ จัง...,<NA>,2018-04-10,passed(ศรีสะเกษ)['Passed:province_name()']
...,...,...,...,...,...,...
971127,0125552017047,นนทบุรี,สำนักงานใหญ่ บ้านเลขที่ 111/25 หมู่ที่ 2 ซอย ...,<NA>,2009-12-04,passed(นนทบุรี)['Passed:province_name()']
971128,0105559008311,กรุงเทพมหานคร,สำนักงานใหญ่ อาคาร จัตุรัสจามจุรี ห้องTT08 ชั...,<NA>,2016-01-15,passed(กรุงเทพมหานคร)['Passed:province_name()']
971129,0105563094790,กรุงเทพมหานคร,สำนักงานใหญ่ บ้านเลขที่ 214 ซอย ซอยผาสุก ตำบล...,<NA>,2020-06-29,passed(กรุงเทพมหานคร)['Passed:province_name()']
971130,0903557002421,สงขลา,สำนักงานใหญ่ บ้านเลขที่ 36/13 หมู่ที่ 4 ตำบล ...,<NA>,2014-09-22,passed(สงขลา)['Passed:province_name()']
971131,0415559003031,อุดรธานี,สำนักงานใหญ่ บ้านเลขที่ 25 หมู่ที่ 10 ตำบล บ้...,<NA>,2016-12-14,passed(อุดรธานี)['Passed:province_name()']

In [23]:
column_name = "province"
df_result=pd.DataFrame({
    'input':df[column_name],
    'value':df[column_name+'_result'].apply(lambda x: x.value),
    # 'status':df['result'].apply(lambda x: x.status),
    'message':df[column_name+'_result'].apply(lambda x: x.message),
    
})
df_result['column']=column_name
df_result

                input          value                   message    column
0        สุราษฎร์ธานี   สุราษฎร์ธานี  [Passed:province_name()]  province
1            ศรีสะเกษ       ศรีสะเกษ  [Passed:province_name()]  province
2            ศรีสะเกษ       ศรีสะเกษ  [Passed:province_name()]  province
3            ศรีสะเกษ       ศรีสะเกษ  [Passed:province_name()]  province
4            ศรีสะเกษ       ศรีสะเกษ  [Passed:province_name()]  province
...               ...            ...                       ...       ...
971127        นนทบุรี        นนทบุรี  [Passed:province_name()]  province
971128  กรุงเทพมหานคร  กรุงเทพมหานคร  [Passed:province_name()]  province
971129  กรุงเทพมหานคร  กรุงเทพมหานคร  [Passed:province_name()]  province
971130          สงขลา          สงขลา  [Passed:province_name()]  province
971131       อุดรธานี       อุดรธานี  [Passed:province_name()]  province

[971132 rows x 4 columns]

In [24]:
df_result.explode('message').reset_index(names=['row'])

           row          input          value                 message    column
0            0   สุราษฎร์ธานี   สุราษฎร์ธานี  Passed:province_name()  province
1            1       ศรีสะเกษ       ศรีสะเกษ  Passed:province_name()  province
2            2       ศรีสะเกษ       ศรีสะเกษ  Passed:province_name()  province
3            3       ศรีสะเกษ       ศรีสะเกษ  Passed:province_name()  province
4            4       ศรีสะเกษ       ศรีสะเกษ  Passed:province_name()  province
...        ...            ...            ...                     ...       ...
971127  971127        นนทบุรี        นนทบุรี  Passed:province_name()  province
971128  971128  กรุงเทพมหานคร  กรุงเทพมหานคร  Passed:province_name()  province
971129  971129  กรุงเทพมหานคร  กรุงเทพมหานคร  Passed:province_name()  province
971130  971130          สงขลา          สงขลา  Passed:province_name()  province
971131  971131       อุดรธานี       อุดรธานี  Passed:province_name()  province

[971132 rows x 5 columns]